@media (max-width: 2570px) {
  .navBtns .mmain:nth-child(1) a {
    /* margin-right: 96px !important; */
  }

  .mmain {
    width: 260px !important;
  }
}

@media (max-width: 1920px) {
  .mmain {
    width: 220px !important;
  }
}

@media (max-width: 1200px) {
  .navBtns {
    width: 800px;
  }

  .mmain {
    width: 180px !important;
  }
}

@media (max-width: 1199px) {
  .mmain {
    width: 185px !important;
  }
}

@media (max-width: 946px) {
  .mmain {
    width: 155px !important;
  }
}

.App {
  text-align: center;
  font-family: "Pretendard_medium";
  max-width: 100%;
  width: 100%;
  color: #252525;
  /* 전체 글꼴 컬러 */
}

html {
  font-family: "Pretendard_medium";
  -webkit-font-smoothing: antialiased !important;
}

.mmain {
  margin-top: 35px;
  /* width: 200px ; */

}

.makeStyles-menuButton-9 {
  margin-top: 50px;
  margin-right: 0;
}

.navBtns {
  height: 100px;
}

.navBtns .mmain {
  margin-right: 0;
}

.navBtns .mmain:nth-child(1) a:active {
  /* margin-right: 5vw; */
  padding: 10px 19px;
  /* width: 150px; */
  /* height: 500px; */
  color: #EC5B44;
  background-color: transparent;
  border: 1px solid #EC5B44;
}

.navBtns .mmain:nth-child(1) a {
  color: #fff;
  background-color: #EC5B44;
  border: 1px solid #EC5B44;
  padding: 10px 19px;
  width: 150px;
  /* margin-right: 0 !important; */
  /* margin-right: 97px !important; */
  border-radius: 200px;
}

.navBtns .mmain:nth-child(4) a {
  color: #EC5B44 !important
}

.navBtns .mmain a:focus {
  /* font-weight: 700; */
  color: red;
}

@font-face {
  font-family: "Pretendard_extrabold";
  src: url("../src/fonts/pretendard/Pretendard-ExtraBold.otf");
}

@font-face {
  font-family: "Pretendard";
  /*볼드*/
  src: url("../src/fonts/pretendard/Pretendard-Bold.otf");
}

@font-face {
  font-family: "Pretendard_semibold";
  src: url("../src/fonts/pretendard/Pretendard-SemiBold.otf");
}

@font-face {
  font-family: "Pretendard_medium";
  src: url("../src/fonts/pretendard/Pretendard-Medium.otf");
}

@font-face {
  font-family: "Pretendard_light";
  src: url("../src/fonts/pretendard/Pretendard-Light.otf");
}

@font-face {
  font-family: "Pretendard_thin";
  src: url("../src/fonts/pretendard/Pretendard-Thin.otf");
}

@font-face {
  font-family: "Pretendard_regular";
  src: url("../src/fonts/pretendard/Pretendard-Regular.otf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.photo {
  width: 222px;
  height: 50px;
  /* float: center; */
  /* margin-left: -13vw; */
  /* margin-top: -10px; */
  margin-right: -7px;
  vertical-align: middle;
  /* margin-top: px; */
}

.logos {
  width: 876px;
  height: 200px;
  max-width: 100%;
}

.Employment {
  font-weight: bold;
  margin-top: 80px;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  vertical-align: middle;
  max-width: 100%;
}

footer {
  color: #6C6C6C;
}